.features-list {
  display: flex;
  justify-content: space-between;
}

.fetures-list-item {
  position: relative;
}

.features-desc {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);

  padding-top: 27px;
  padding-bottom: 27px;
}
